body{
    background: #0C1D2F;
}

#loader{
    width: 100%;
    color: #F7FCFF;
    font-family: sans-serif;
    position: absolute;
    align-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.progress-container {
    margin: auto;
    width: 510px;
    align-self: center;
    justify-content: center;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}

.progress-value {
    animation: load 60s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    10% { width: 40% }
    100% { width: 96%; }
}
